<nav class="navbar">
    <div class="container-fluid">
        <div  class="inicio">
            <a><img src="/assets/img/inicio.png" alt=""></a>
            <label for="">Árboles</label>
        </div>
        <div  class="cow">
            <a><img src="/assets/img/cow.png" alt=""></a>
            <label for="">Finca</label>
        </div>
        <div  class="produccion">
            <a><img src="/assets/img/produccion.png" alt=""></a>
            <label for="">Control</label>
        </div>
    </div>
</nav>
