<nav class="navbar">
    <div class="container-fluid">
        <div (click)="lotes()" class="inicio">
            <i class="fas fa-clone"></i>
            <label for="">Lotes</label>
        </div>
        <div (click)="finca()" class="cow">
            <i class="fas fa-home"></i>
            <label for="">Finca</label>
        </div>
        <div (click)="reporte()" class="produccion">
            <i class="fas fa-book"></i>
            <label for="">Control</label>
        </div>
    </div>
</nav>
