<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<nav class="navbar ">
    <div class="container-fluid">

        <div class="back-link">
            <a routerLink="/lotesLista">
                <i class="fas fa-arrow-left" style="color: rgb(255, 255, 255);" ></i>
                <!-- Icono de flecha hacia atrás -->
            </a>
        </div>
        <h1 class="mx-auto" style="font-size: 15px;">FINCA LA BENDICIÓN JUTIAPA</h1>
        <div class="logo-circle">
            <img src="/assets/img/logo.png" alt="logo" class="logo-img">
        </div>
    </div>
</nav>
<div class="contenedor-tipoControl">
       
        <div class="circle-container">
            <img src="/assets/img/lote1.png" class="imgLote" alt="">
          </div>
        <div class="login">
            <form class="container">
                <div class="encabezado-login ">
                    
                    <h1 class="descripcion">Crear Lote</h1>
                </div>
                <div class="form-group">
                    <label for="email" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                        Ingrese el Nombre del Propietario
                    </label>
                    <input type="text" style="background-color: white; " class="form-control" id="namePropietario" >
                </div>
                <div class="form-group">
                    <label for="hectareas" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                        Ingrese las hectáreas del lote
                    </label>
                    <input type="number" style="background-color: white; " class="form-control" id="hectareas" >
                </div>
                <div class="form-group">
                    <label for="longitud" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                        Longitud
                    </label>
                    <input type="number" style="background-color: white; " class="form-control" id="longitud" >
                </div>
                <div class="form-group">
                    <label for="email" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                        Latitud
                    </label>
                    <input type="number" style="background-color: white; " class="form-control" id="correo" >
                </div>
                <div class="form-group">
                    <label for="imagen" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                      Subir Imagen de Lote
                    </label>
                    <input type="file" style="background-color: white;" class="form-control" id="imagen" (change)="onFileChange($event)">
                  </div>
                  
                  <div id="imagenPanel" *ngIf="imagenSeleccionada" >
                    <p style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">Foto del Lote:</p>
                    <div id="imagenPanel" *ngIf="imagenSeleccionada" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                        <img [src]="imagenSeleccionada"style="max-width: 300px; display: flex; flex-direction: column; align-items: center; text-align: center;">
                    </div>
                  </div>
                <div class="row">
                    <button style="background: rgb(212, 0, 0); font:oblique; color: white;  border-radius: 20px;" class="col btn-1 btn">Registrar</button>
                </div>
    
            </form>
        </div>
    </div>