.navbar {
    background-color: #623100;
}

.navbar {
    display: flex;
    justify-content: center; /* Cambia "flex-end" a "center" para centrar horizontalmente */
    align-items: center;
    padding: 10px;
}

h1 {
    color: white;
    font-weight: bold;
    margin: 0;
}


/* Estilos generales de la tabla */

  

/*.container {
    width: 80%;
    height: auto;
}*/
.viewLote {
    position: absolute;
    width: 100%;
    top: 10%; /* Ajusta el valor para cambiar la distancia desde arriba */
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

  .logo {
    margin-left: 10px;
  }
  .logo-circle {
    width: 50px; /* Ajusta el tamaño del círculo */
    height: 50px; /* Ajusta el tamaño del círculo */
    background-color: white;
    border-radius: 50%; /* Convierte en un círculo */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px; /* Ajusta el margen izquierdo según tus necesidades */
}

.logo-img {
  width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
}
.btn-icon {
    width: 20px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: 20px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}
.back-link {
    top: 20px;
    left: 20px;
    font-size: 30px;
    cursor: pointer;
    color: white;
    font-size: 24px;
    z-index: 8; /* Asegura que el enlace esté por encima de la media luna */
}

  .descripcion {
    color: #000000;
    font-weight: bold;
    font-family: value;
    padding-top: 20px 30px; /* Ajusta el padding superior para separar más del elemento anterior */
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
  }

.row {
  margin: 50px auto; 
  align-items: center;
  padding-left: 10%; /* Ajusta el valor según tus necesidades */
  padding-right: 10%; 
}



.app-footer {
    flex-shrink: 0;
    margin-top: auto;
}

@media screen and (max-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  img {
      width: 70%;
  }
  .title {
      font-weight: bold;
      color: rgb(245, 245, 245);
      font-family: value;
      margin: 0%;
      font-size: 24px;
  }
  .descripcion {
      color: #000000;
      font-weight: bold;
      font-family: value;
      padding-top: 3px;
      font-size: 24px;
  }
  .tipoControl {
      top: 45%;
      border-top-left-radius: 60%;
      border-top-right-radius: 60%;
  }
}

@media screen and (max-width:480px) and (min-width:320px) {
  /* smartphones, Android phones, landscape iPhone */
  img {
      width: 80%;
  }
  .title {
      color: rgb(245, 245, 245);
      font-family: value;
      margin: 0%;
      font-size: 18px;
  }
  .descripcion {
      color: #000000;
      font-weight: bold;
      font-family: value;
      padding-top: 3px;
      font-size: 24px;
  }
  .row {
      margin-top: 90px;
  }
  label {
      color: rgb(90, 90, 90)EA;
      margin-bottom: 2%;
      margin-top: 2%;
  }
}

@media screen and (max-width:600px) and (min-width:480px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  img {
      width: 60%;
  }
  .title {
      color: rgb(245, 245, 245);
      font-family: value;
      margin: 0%;
      font-size: 18px;
  }
  .descripcion {
      color: #000000;
      font-weight: bold;
      font-family: value;
      padding-top: 3px;
      font-size: 24px;
  }
  .row {
      margin-top: 80px;
  }
  label {
      color: rgb(90, 90, 90)EA;
      margin-bottom: 2%;
      margin-top: 2%;
  }
}

@media screen and (max-width:801px) and (min-width:600px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  img {
      width: 35%;
  }
  .title {
      color: rgb(245, 245, 245);
      font-family: value;
      margin: 0%;
      font-size: 18px;
  }
  .descripcion {
      font-family: value;
      font-weight: bold;
      font-family: value;
      padding-top: 3px;
      font-size: 24px;
  }
  .row {
      margin-top: 1px;
  }
  label {
      color: rgb(90, 90, 90)EA;
      margin-bottom: 2%;
      margin-top: 2%;
  }
}

@media screen and (max-width:1200px) and (min-width:801px) {
  /* big landscape tablets, laptops, and desktops */
  img {
      width: 30%;
  }
  .title {
      color: rgb(245, 245, 245);
      font-family: value;
      margin: 0%;
      font-size: 18px;
  }
  .descripcion {
      color: #000000;
      font-weight: bold;
      font-family: value;
      padding-top: 3px;
      font-size: 24px;
  }
  .row {
      margin-top: 10px;
  }
  label {
      color: rgb(90, 90, 90)EA;
      margin-bottom: 2%;
      margin-top: 2%;
  }
}

.identificador {
  display: flex;
  align-items: center;
  padding-top: -50%;
}

.color-circle {
  width: 25px;
  height: 25px;
  margin-right: 8px;
  border-radius: 50%;
}

.color-circle.amarillo {
  background-color: yellow;
}

.color-circle.verde {
  background-color: green;
}

.color-circle.rojo {
  background-color: red;
}

.cardImg{
  align-items: center;
}

.disabled-view {
  pointer-events: none;
  opacity: 0.8;
  /* Opcional: agrega un fondo gris para deshabilitar la vista */
  background-color: rgba(249, 245, 245, 0.5);
  /* Opcional: agrega una posición fija para cubrir toda la pantalla */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.centered-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Establece la altura al 100% del viewport */
  position: fixed; /* Asegura que el spinner cubra toda la pantalla */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(211, 211, 211, 0.5); /* Fondo semitransparente */
}