<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nav class="navbar ">
    <div class="container-fluid">

        <div class="back-link">
            <a (click)="navigateToOtherView()">
                <i class="fas fa-arrow-left" style="color: rgb(255, 255, 255);" ></i>
                <!-- Icono de flecha hacia atrás -->
            </a>
        </div>
        <h1 class="mx-auto" style="font-size: 15px;">{{NombreFinca}}</h1>
        <div class="logo-circle">
            <img src="/assets/img/logo.png" alt="logo" class="logo-img">
        </div>
    </div>
</nav>
<div class="viewLote">
        <div >
            <h1  style="background-color: rgb(190, 190, 190);"class="descripcion">DETALLE ÁRBOL</h1>
        </div>
        <div class="table-container">
            <div class="container">
                <div *ngFor="let lote of filteredArbol" class="card mx-auto" >
                  <img class="img-fluid mx-auto my-3" [src]="lote.ImagenArbol" style="max-width: 200px; border-radius: 20px;">
                  <div class="card-body">
                    <h5 class="card-title" style="text-align: center; ">ÁRBOL: {{lote.IdentificadorArbol}}</h5>
                    <p class="identificador">
                      <span class="color-text">Estado:</span>
                     <span class="color-circle"  [ngClass]="lote.color"></span>
                    </p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Fecha de Creación: {{lote.FechaCreacion}}</li>
                    <li class="list-group-item">Cantidad Plagas Detectadas: {{lote.CantidadPlagas}}</li>
                    <li class="list-group-item">Cantidad Enfermedades Detectadas: {{lote.CantidadEnfermedades}}</li>
                    <li class="list-group-item">Latitud: {{lote.latitud}}</li>
                    <li class="list-group-item">Longitud: {{lote.longitud}}</li>
                  </ul>
                </div>
              </div>
        </div>
</div>
