<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<nav class="navbar ">
  <div class="container-fluid">

    <div class="back-link">
      <a routerLink="/listArboles">
        <i class="fas fa-arrow-left" style="color: rgb(255, 255, 255);"></i>
        <!-- Icono de flecha hacia atrás -->
      </a>
    </div>
    <h1 class="mx-auto" style="font-size: 15px;">FINCA LA BENDICIÓN JUTIAPA</h1>
    <div class="logo-circle">
      <img src="/assets/img/logo.png" alt="logo" class="logo-img">
    </div>
  </div>
</nav>
<div class="contenedor-tipoControl">
  <div class="login">
    <form class="container">
      <h1 class="descripcion">CONTROL</h1>
      <div class="encabezado-login">
        <div class="arbol">
          <img src="/assets/img/lote.png" alt="Árbol" class="arbol-imagen">
          <div class="data">
            <span class="info" >Árbol: </span><span class="info" style="color: rgb(36, 144, 3);" >{{ numeroArbol }}</span>
          </div>
          
        </div>
      </div>
      
      <div class="form-group">
        <label for="tipoEstacion">Tipo de Estación:</label>
        <div class="select-with-arrow">
          <select id="tipoEstacion" name="tipoEstacion" class="form-control">
            <option value="norte">Norte</option>
            <option value="sur">Sur</option>
            <option value="este">Este</option>
            <option value="oeste">Oeste</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="tipoEnfermedadPlaga">Tipo de Control:</label>
        <div class="select-with-arrow">
          <select id="tipoEnfermedadPlaga" class="form-control" name="tipoEnfermedadPlaga"
            (change)="onTipoEnfermedadPlagaChange($event)">
            <option value="0">--Seleccione el tipo de Control--</option>
            <option value="1">Enfermedad</option>
            <option value="2">Plaga</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="tipoEstructuraDanada">Nombre de Enfermedad o Plaga:</label>
        <div class="select-with-arrow">
          <select class="form-control" id="sexo">
            <option value="" >--Seleccione una opción--</option>
            <option *ngFor="let opcion of nombresEnfermedadesPlagas" [value]="opcion">{{ opcion }}</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label for="cantidadIndividuos">Cantidad de Individuos:</label>
        <input type="number" id="cantidadIndividuos" name="cantidadIndividuos" class="form-control">
      </div>
      <div id="tipoEstructuraContainer" *ngIf="tipoEnfermedadPlaga === 1">
        <div class="form-group">
          <div class="select-with-arrow" id="tipoEstructuraContainer">
            <label for="tipoEstructuraDanada">Tipo de Estructura Dañada:</label>
            <div class="select-with-arrow">
              <select class="form-control" id="sexo">
                <option value="flor">Flor</option>
                <option value="hoja">Hoja</option>
                <option value="rama">Rama</option>
                <option value="tallo">Tallo</option>
                <option value="fruto">Fruto</option>
                <option value="raiz">Raíz</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button style="background: rgb(212, 0, 0); font:oblique; color: white;  border-radius: 20px;"
          class="col btn-1 btn">Guardar</button>
      </div>

    </form>
  </div>
</div>