<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nav class="navbar ">
    <div class="container-fluid">

        <div class="back-link">
            <a routerLink="/lotesLista">
                <i class="fas fa-arrow-left" style="color: rgb(255, 255, 255);"></i>
                <!-- Icono de flecha hacia atrás -->
            </a>
        </div>
        <h1 class="mx-auto" style="font-size: 15px;">LOTE. {{LoteIdentificadorId}}</h1>
        <div class="logo-circle">
            <img src="/assets/img/logo.png" alt="logo" class="logo-img">
        </div>
    </div>
</nav>
<div class="viewArboles">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <button class="button"  (click)="viewNuevoArbol()" >
                    <div class="icon-circle"><mat-icon style="color: green;" >add</mat-icon></div>
                    Agregar Árbol
                  </button>
            </div>
        </div>
        <div class="col text-center">
            <div class="input-group stylish-input-group">
              <input [(ngModel)]="searchTerm" (ngModelChange)="searchArboles()" class="form-control" placeholder="Buscar Árbol">
              <span class="input-group-addon">
                <button type="submit">
                  <i class="fas fa-search"></i>
                </button>  
              </span>
            </div>
          </div>
     
        <div class="row">
            <div *ngFor="let lote of filteredLotes" class="col-md-4 col-sm-6">
                <div class="lote-card">
                    
                    <img [src]="lote.ImagenArbol" alt="Foto del Árbol" width="30px" height="30px6">
                    <p>Árbol: {{ lote.IdentificadorArbol }}</p>
                    <p>Empleado Creador: {{ lote.Empleado }}</p>
                    
                    <button class="btn btn-primary" (click)="viewEditarArbol(lote.IdArbol)"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-danger" (click)="eliminarArbol(lote.IdArbol)"><i class="fas fa-trash-alt"></i></button>
                    <button class="btn btn-dark" (click)="viewStatusArbol(lote.IdArbol)" ><i class="fas fa-eye"></i></button>
                   <!-- <button class="btn btn-warning" (click)="viewStatusMedicoArbol(lote.IdArbol,lote.IdentificadorArbol)" ><i class="fas fa-file-medical"></i></button>-->
                    <button class="btn btn-warning" (click)="viewStatusMedicoArbol(lote.IdArbol,lote.IdentificadorArbol)" ><i class="fas fa-file-medical"></i></button>
                    <button class="btn btn-success" (click)="viewControlArbol(lote.IdArbol)" ><i class="fas fa-plus-circle"></i></button>

                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <ng-container *ngIf="filteredLotes.length === 0">
                    <p style="text-align: center;">No Existe Ningún Árbol.</p>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="{'centered-container': isLoadingResults == false}">

    <div *ngIf="isLoadingResults == false" class="text-center">
      <!-- Spinner de carga -->
      <div class="spinner-border text-secondary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>