<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="contenedor-tipoControl">
    <div class="back-link">
        <a routerLink="/logueado">
            <i class="fas fa-arrow-left" style="color: black;"></i> <!-- Icono de flecha hacia atrás -->
        </a>
    </div>
    <div class="lunaLogo">
        <img src="/assets/img/logo.png" alt="" class="logo">
        <div class="media-luna-top"></div>
    </div>
        <div class="tipoControl">
            <div class="informacion1">
                <span class="campo-informativo" style="color: white;">TIPO DE CONTROL</span>
                
            </div>
            <div class="informacion2">
                <span class="campo-informativo" style="color: rgb(63, 150, 45);" id="tipoControl" >FITOSANITARIO</span>
                <img (click)='tipoControl()' src="/assets/img/fitosanitario.png" alt="" class="tipoFitosanitario" routerLink="/finca">
            </div>
            <div class="informacion2" style="display: none;" >
                <span class="campo-informativo" style="color: rgb(63, 150, 45);" id="tipoControl">FENOLÓGICA</span>
                <img src="/assets/img/fitosanitario.png" alt="" class="tipoFitosanitario">
            </div>
            <div class="informacion2" style="display: none;" >
                <span class="campo-informativo" style="color: rgb(63, 150, 45);" id="tipoControl">PRODUCCIÓN</span>
                <img src="/assets/img/fitosanitario.png" alt="" class="tipoFitosanitario">
            </div>
      </div>
</div>