<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="contenedor-tipoControl">
    <div class="back-link">
        <a routerLink="/ruta-de-regreso">
            <i class="fas fa-arrow-left" style="color: black;"></i> <!-- Icono de flecha hacia atrás -->
        </a>
    </div>
    <img src="/assets/img/logo.png" alt="" >
        <div class="tipoControl">
            <div class="informacion1">
                <span class="campo-informativo" id="nameFinca">{{NombreFinca}}</span>
            </div>
            <div class="informacion2">
                <label class="label-informativo">ROL</label>
                <span class="campo-informativo" style="color: rgb(29, 127, 9);" id="name_Rol">{{NombreRol}}</span>
            </div>
            <div class="informacion3">
                <label class="label-informativo">NOMBRE DEL EMPLEADO</label>
                <span class="campo-informativo" style="color: rgb(29, 127, 9);" id="name_Epl">{{NombreEmpleado}}</span>
            </div>
            <div class="row">
                <button style="background: #f63105;" class="col btn-1 btn btn-primary" routerLink="/tipoControl">Ingresar</button>
            </div>
        </div>
    </div>