<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="contenedor-login">
    <br>
    <br>
    <div class="back-link">
        <a routerLink="/ruta-de-regreso">
            <i class="fas fa-arrow-left" style="color: black;"></i> <!-- Icono de flecha hacia atrás -->
        </a>
    </div>
    <div class="lunaLogo">
        <img src="/assets/img/logo.png" alt="" class="logo">
        <div class="media-luna-top"></div>
    </div>
    
    <div class="recoverPass">
        <form class="container">
            <div class="encabezado-recoverPass ">
                <h1 for="" class="descripcion">Recuperar Contraseña</h1>
            </div>
            <div class="form-group">
                <label for="email" style="color: rgb(0, 0, 0); margin-top: 10px;">
                    <i class="fas fa-envelope"></i> 
                    Ingrese su Correo
                </label>
                <input type="email" style="background-color: white; " class="form-control" id="correo" #correo aria-describedby="emailHelp" placeholder="juan@gmail.com" >
            </div>
            <div class="form-group">
                <label for="password" style="color: rgb(0, 0, 0); margin-top: 10px;">
                    <i class="fas fa-lock"></i> <!-- Icono de candado -->
                    Ingrese su Contraseña
                </label>
                <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password'" style="background-color: white; " class="form-control" id="contrasena" #contrasena placeholder="********">
                    <div class="input-group-append">
                        <span class="input-group-text toggle-password" (click)="togglePasswordVisibility()">
                            <i [class]="showPassword ? 'far fa-eye-slash' : 'far fa-eye'"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" style="color: rgb(0, 0, 0); margin-top: 10px;">
                    <i class="fas fa-lock"></i> <!-- Icono de candado -->
                    Repita su Contraseña
                </label>
                <div class="input-group">
                    <input [type]="showPassword ? 'text' : 'password'" style="background-color: white; " class="form-control" id="contrasena" #contrasena placeholder="********">
                    <div class="input-group-append">
                        <span class="input-group-text toggle-password" (click)="togglePasswordVisibility()">
                            <i [class]="showPassword ? 'far fa-eye-slash' : 'far fa-eye'"></i>
                        </span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <button (click)="recuperarPass(correo.value,contrasena.value)" style="background: #f63105;" class="col btn-1 btn btn-primary">Cambiar Contraseña</button>
            </div>
           

        </form>
    </div>
</div>
