<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="contenedor-login">
    <br>
    <br>
    <img src="/assets/img/logo.png" alt="" >
    <div class="login">
        <form class="container">
            <div class="encabezado-login ">
                <p for="" style="color: rgb(255, 255, 255);" class="title">¡Bienvenido!</p>
                <h1 for="" class="descripcion">Inicio de Sesión</h1>
            </div>
            <div class="form-group">
                <label for="email" style="color: rgb(255, 255, 255); margin-top: 10px;">
                    <i class="fas fa-envelope"></i> 
                    Ingrese su Correo
                </label>
                <input type="email" style="background-color: white; " class="form-control" id="correo" #correo aria-describedby="emailHelp" placeholder="jefferson@gmail.com" required>
            </div>
            <div class="form-group">
                <label for="password" style="color: rgb(255, 255, 255); margin-top: 10px;">
                    <i class="fas fa-lock"></i> <!-- Icono de candado -->
                    Ingrese su Contraseña
                </label>
                <input type="password" style="background-color: white; " class="form-control" id="contrasena" #contrasena placeholder="********" required>
            </div>
            <div class="row">
                <button (click)='logIn(correo.value,contrasena.value)' style="background: #f63105;" class="col btn-1 btn btn-primary">Iniciar Sesión</button>
                <!--<button style="background: #f63105;" class="col btn-1 btn btn-primary" routerLink="/logueado">Iniciar Sesión</button>-->
                <button  class="col btn-2 btn btn-primary" routerLink="/registration">Registrarse</button>
            </div>
           
            <p class="forgot-password" style="color: rgb(255, 255, 255);">¿Olvidaste tu contraseña? <a routerLink="/recuperarPassword" style="color: rgb(255, 255, 255);">Click aquí</a>

        </form>
    </div>
</div>