<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<nav class="navbar">
    <div class="container-fluid">
      <div class="back-link">
        <a (click)="navigateListaArboles()">
          <i class="fas fa-arrow-left" style="color: rgb(255, 255, 255);"></i>
        </a>
      </div>
      <h1 class="mx-auto" style="font-size: 15px;">{{NombreFinca}}</h1>
      <div class="logo-circle">
        <img src="/assets/img/logo.png" alt="logo" class="logo-img">
      </div>
    </div>
  </nav>
<div class="contenedor-tipoControl">
       
        <div class="circle-container">
            <img src="/assets/img/arbol.png" class="imgLote" alt="">
          </div>
        <div class="login">
            <form  class="container">
                <div class="encabezado-login ">
                    
                    <h1 class="descripcion">{{Opcion}}</h1>
                </div>
                <div class="form-group" style="display: none;">
                  <label for="email" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;" >
                    ID Arbol
                  </label>
                  <input type="text" style="background-color: white; " class="form-control" id="namePropietario" value="{{ArbolId}}" #arbol readonly>
              </div>
                <div class="form-group">
                    <label for="email" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;" >
                      Nombre del Empleado Creador
                    </label>
                    <input type="text" style="background-color: white; " class="form-control" id="namePropietario" value="{{NombreEmpleado}}" readonly>
                </div>
                <div class="form-group">
                    <label for="hectareas" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                        Ingrese el Identificador del Árbol
                    </label>
                    <input type="text" style="background-color: white; " class="form-control" id="identifiador" value="{{IdentificadorArbol}}"#identificador >
                </div>
                <div class="form-group">
                    <label for="longitud" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                        Longitud
                    </label>
                    <input type="number" step="0.01" style="background-color: white; " class="form-control" id="longitud" value="{{Longitud}}" #longitud>
                </div>
                <div class="form-group">
                    <label for="latitud" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                        Latitud
                    </label>
                    <input type="number" step="0.01" style="background-color: white; " class="form-control" id="latitud" value="{{Latitud}}"#latitud >
                </div>
                <div class="form-group">
                    <label for="imagen" style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">
                      Subir Imagen del Árbol
                    </label>
                    <input type="file" style="background-color: white;" class="form-control" id="imagen" (change)="onFileChange($event)" >
                  </div>
                  
                  <div id="imagenPanel" *ngIf="imagenSeleccionada" >
                    <p style="color: rgb(255, 255, 255); margin-top: 10px; font-weight: bold;">Foto del Árbol:</p>
                    <div id="imagenPanel" *ngIf="imagenSeleccionada" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
                        <img [src]="imagenSeleccionada"style="max-width: 300px; display: flex; flex-direction: column; align-items: center; text-align: center;">
                    </div>
                  </div>
                <div class="row">
                    <button (click)="crearEditarArbol(arbol.value,identificador.value,longitud.value,latitud.value)" style="background: rgb(212, 0, 0); font:oblique; color: white;  border-radius: 20px;" class="col btn-1 btn">Registrar</button>
                </div>
    
            </form>
        </div>
    </div>