<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="contenedor-login">
    <br>
    <br>
    <div class="back-link">
        <a routerLink="/ruta-de-regreso">
            <i class="fas fa-arrow-left" style="color: black;"></i> <!-- Icono de flecha hacia atrás -->
        </a>
    </div>
    <div class="lunaLogo">
        <img src="/assets/img/logo.png" alt="" class="logo">
        <div class="media-luna-top"></div>
    </div>
    
    <div class="viewLote">
        <form class="container">
            <div class="encabezado-recoverPass ">
                <h1 for="" class="descripcion">LOTES DE LA FINCA</h1>
                <h1 for="" style="color: rgb(63, 150, 45);"class="descripcion2">{{NombreFinca}}</h1>
            </div>
            <img src="/assets/img/lote.png" alt="" class="imgLote">
            <div class="row">
                <button style="background: green; font:oblique; color: white;  border-radius: 20px;" class="col btn-1 btn" routerLink="/lotesLista">Siguiente</button>
            </div>
        </form>
    </div>
</div>
<app-footer></app-footer>

