<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<nav class="navbar ">
    <div class="container-fluid">

        <div class="back-link">
            <a routerLink="/tipoControl">
                <i class="fas fa-arrow-left" style="color: rgb(255, 255, 255);" ></i>
                <!-- Icono de flecha hacia atrás -->
            </a>
        </div>
        <h1 class="mx-auto" style="font-size: 15px;">{{NombreFinca}}</h1>
        <div class="logo-circle">
            <img src="/assets/img/logo.png" alt="logo" class="logo-img">
        </div>
    </div>
</nav>
<div class="viewLote">
        <div >
        </div>
        <div class="table-container">
            <div class="container">
                
                  <div style="text-align: center;">
                    <h1 style="background-color: rgb(190, 190, 190);" class="descripcion">Informe de Control</h1>
                    <img src="/assets/img/controlBasico.png" style="height: 80px; width: 80px; display: block; margin: 20px auto;">
                  </div>
                  <div *ngFor="let reporte of DataReport" class="card mx-auto" >
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item textoI">
                        <i class="fas fa-calendar-day"></i> Lotes Creados Hoy: {{reporte.LotesHoy}}
                      </li>
                      <li class="list-group-item textoI">
                        <i class="fas fa-tree"></i> Árboles Creados Hoy: {{reporte.ArbolesHoy}}
                      </li>
                      <li class="list-group-item textoI">
                        <i class="fas fa-calendar-alt"></i> Lotes Creados Ayer: {{reporte.LotesAyer}}
                      </li>
                      <li class="list-group-item textoI">
                        <i class="fas fa-tree"></i> Árboles Creados Ayer: {{reporte.ArbolesAyer}}
                      </li>
                      <li class="list-group-item textoI">
                        <i class="fas fa-disease"></i> Enfermedades Detectadas: {{reporte.CantidadEnfermedades}}
                      </li>
                      <li class="list-group-item textoI">
                        <i class="fas fa-bug"></i> Plagas Detectadas: {{reporte.CantidadPlagas}}
                      </li>
                      <li class="list-group-item textoI">
                        <i class="fas fa-calendar-minus"></i> Total de Lotes: {{reporte.LotesTotal}}
                      </li>
                  </ul>
                </div>
              </div>
        </div>
</div>

<div [ngClass]="{'centered-container': isLoadingResults == false}">

  <div *ngIf="isLoadingResults == false" class="text-center">
    <!-- Spinner de carga -->
    <div class="spinner-border text-secondary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
<app-footer class="app-footer"></app-footer>

